name: Node.js

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Install dependencies
        working-directory: ${{runner.workspace}}/react-juce/packages/react-juce
        run: npm ci

      - name: Build react-juce
        working-directory: ${{runner.workspace}}/react-juce/packages/react-juce
        run: npm run build
